@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.white-light {
    background-color: #e0d7d72b ;
}

.contenerdor-avatar{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.img-menu {
    position:absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
}

.avatar{
    width:75%;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 50px;
    /* box-shadow:5px 5px 0px #424242 ; */
    box-shadow:5px 15px 25px 
    rgba(0, 0,0,0.50) ;
    cursor:pointer;
}
.TeclabLayout{
    margin: auto;
}
.h1-padre{
    font-size:32px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-info{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 30px;
    text-align: center;
}
.label-saludo{
    font-size: 2rem;
}

.contenedor-requirement{
    background: url("/src/assets/img/fondo-requirements.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contenedor-informativo{
    display: flex;
    margin:auto;
    margin-top:1% ;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 23px;
    width: 95%;
    height: 20vh;
}

.conteniedor-tabla{
    margin: 0 auto;
    margin-top:2% ;
    border: 1px solid transparent;
    /* background: #388dec; */
    background-image: url("/src/assets/img/registrar-fondo-derecho.png");
    background-size: cover;
    background-position: center;
    border-radius: 23px ;
    width: 95% ;
    height: 55vh;
}
.contenedores-hijos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    border: 2px solid #6778f7;
    border-radius: 23px;
    width: 20%;
    height: 80%;
}
.contenedores-hijos:nth-child(2) {
    border:2px solid #f57c00;
}
.contenedores-hijos:nth-child(3) {
    border:2px solid #388e3c;
}

.contenedor-informativo .contenedores-hijos label{
    text-align:center;
}

@media screen and (max-width: 768px) {
    .contenedores-hijos{
        width: 28%;
    }
    .h1-padre {
        font-size: 28px;
    }
}
@media screen and (max-width: 425px) {
    .h1-padre {
        font-size: 24px;
    }
}