@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.white-light {
  background-color: #e0d7d72b;
}

.contenerdor-avatar {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-menu {
  width: 50px;
  position: absolute;
  left: 87%;
  font-family: "Poppins", sans-serif;
  border-radius: 22px;
  top: 20px;
  border: 1px rgba(100, 100, 100, 0.1);
  width: 10%;
  height: 7%;
  background-image: radial-gradient(
    circle at 0% 0%,
    #ff78c0 0,
    #fc6fc6 12.5%,
    #eb65cc 25%,
    #d75dd2 37.5%,
    #be55d8 50%,
    #a050de 62.5%,
    #7a4fe3 75%,
    #4250e9 87.5%,
    #0052ed 100%
  );
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  background-size: 100%;
  transition: all 1s linear;
}

.foto-nofound {
  background: url("/src/assets/img/Found.png");
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 95vw;
  height: 95vh;
}

.foto-Notauthoritation {
  background: url("/src/assets/img/401.png");
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 95vw;
  height: 95vh;
}

.avatar {
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 50px;
  /* box-shadow:5px 5px 0px #424242 ; */
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.TeclabLayout {
  margin: auto;
}

.h1-padre {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-info {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 30px;
  text-align: center;
}

.label-saludo {
  font-size: 2rem;
}

.contenedor-requirement {
  background: url("/src/assets/img/fondo-requirements.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contenedor-informativo {
  display: flex;
  margin: auto;
  margin-top: 1%;
  border: 1px solid transparent;
  background: #fff;
  border-radius: 23px;
  width: 95%;
  height: 20vh;
}

.conteniedor-tabla {
  margin: 0 auto;
  margin-top: 2%;
  border: 1px solid transparent;
  /* background: #388dec; */
  background-image: url("/src/assets/img/registrar-fondo-derecho.png");
  background-size: cover;
  background-position: center;
  border-radius: 23px;
  width: 95%;
  height: 60vh;
}

.contenedores-hijos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid #6778f7;
  border-radius: 23px;
  width: 20%;
  height: 80%;
}

.contenedores-hijos:nth-child(2) {
  border: 2px solid #f57c00;
}

.contenedores-hijos:nth-child(3) {
  border: 2px solid #388e3c;
}

.contenedor-informativo .contenedores-hijos label {
  text-align: center;
}

.tabla-admin {
  width: 90vw;
  height: 54vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* //requirement */
.form-asignacion {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #a9d9f1 0,
    #add8f3 6.25%,
    #b2d6f5 12.5%,
    #b7d5f6 18.75%,
    #bdd3f7 25%,
    #c3d2f6 31.25%,
    #c9d0f6 37.5%,
    #cfcff4 43.75%,
    #d5cdf2 50%,
    #dbcbef 56.25%,
    #e0caec 62.5%,
    #e5c9e9 68.75%,
    #eac8e5 75%,
    #eec7e1 81.25%,
    #f2c6dc 87.5%,
    #f4c5d7 93.75%,
    #f7c5d3 100%
  );
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  border-radius: 23px;
  height: 45%;
  padding: 15px;
  width: 90%;
  flex-direction: column;
}

.contenedor-inputs-asign {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.botton-assigrequirement {
  display: flex;
}
/* modal crear asignaciones */
.asignaciones__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.asignaciones__container--form {
  margin: auto;
  width: 50%;
  height: 100%;
}

.asignaciones__container--table {
  width: 50%;
  height: 100%;
}

.button--close {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 1px;
}

.contenedor-inputs-asign .form__demo-container-name .form__select-name {
  width: 81%;
}

.parrafo-modal {
  font-size: 30px;
  font-weight: 900;
  padding: 5px;
}
/* EDITAR REQUERMIENTOS */
.asignaciones__edit-container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.asignaciones__edit-container--form {
  margin: auto;
  width: 90%;
  height: 90%;
}

.form-asignacionedit {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #a9d9f1 0,
    #add8f3 6.25%,
    #b2d6f5 12.5%,
    #b7d5f6 18.75%,
    #bdd3f7 25%,
    #c3d2f6 31.25%,
    #c9d0f6 37.5%,
    #cfcff4 43.75%,
    #d5cdf2 50%,
    #dbcbef 56.25%,
    #e0caec 62.5%,
    #e5c9e9 68.75%,
    #eac8e5 75%,
    #eec7e1 81.25%,
    #f2c6dc 87.5%,
    #f4c5d7 93.75%,
    #f7c5d3 100%
  );
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 6px;
  border-radius: 23px;
  height: 95%;
  padding: 10px;
  width: 97%;
  flex-direction: column;
}

.contenedor-inputs-asignedit-developers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.botton-assigrequirement-has-developers {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------loguin-------------------- */
.Contenedor__padre__loguin {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.section__izq {
  display: flex;
  background: url("/src/assets/img/fondo-requirements.png");
  background-size: cover;
  background-position: center;
  width: 60%;
}

.form__loguin {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
}

.asignaciones__loguin__container {
  margin-bottom: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.loguin__title {
  font-size: 50px;
}

.section__der {
  background: url("/src/assets/img/registrar-fondo-derecho.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  border-top-left-radius: 10% 9%;
  border-bottom-left-radius: 10% 10%;
}

.loguin__container_foto_teclab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 70%;
}

.loguin__foto_teclab {
  width: 100%;
}

.parrafo__loguin {
  color: white;
  font-size: 25px;
}

@media screen and (max-width: 1024px) {
  .parrafo__loguin {
    color: white;
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  .loguin__title {
    font-size: 30px;
  }

  .asignaciones__loguin__container .form__label-name {
    align-items: center;
  }

  .section__izq {
    background: url("/src/assets/img/fondo-requirements.png");
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .section__der {
    display: none;
  }
}

@media screen and (max-width: 1071px) {
  .parrafo__loguin {
    color: white;
    font-size: 14px;
  }
}

@media screen and (max-width: 784px) {
  .parrafo__loguin {
    color: white;
    font-size: 10px;
  }
}

@media screen and (max-width: 604px) {
  .parrafo__loguin {
    color: white;
    font-size: 10px;
  }
}

@media screen and (max-width: 430px) {
  .parrafo__loguin {
    color: white;
    font-size: 8px;
  }
}
/* ------------------------------------------------ */
@media screen and (max-width: 1024px) {
  .asignaciones__container {
    flex-direction: column;
  }
  .asignaciones__container--form {
    margin-top: 10px;
    width: 100%;
  }
  .asignaciones__container--table {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contenedores-hijos {
    width: 28%;
  }
}

@media screen and (max-width: 425px) {
  .contenedor-inputs-asign {
    flex-direction: column;
    width: 100%;
  }
  .contenedor-inputs-asign .form__demo-container-name {
    width: 100%;
  }
  .contenedor-inputs-asign .form__demo-container-name .form__select-name {
    width: 100%;
  }
}
/* ------------------------------------------------ */
/* extra small */
@media screen and (min-width: 0px) and (max-width: 575px) {
  .h1-padre {
    font-size: 22px;
  }

  .img-menu {
    position: absolute;
    width: 70px;
    height: 2.5em;
    left: 80%;
    top: 12px;
  }
}

/* SM */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .h1-padre {
    font-size: 24px;
  }

  .img-menu {
    position: absolute;
    width: 70px;
    height: 2.5em;
    left: 80%;
    top: 15px;
  }
}

/* MD */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .h1-padre {
    font-size: 26px;
  }

  .img-menu {
    position: absolute;
    width: 70px;
    height: 3em;
    left: 80%;
    top: 12px;
  }
}

/* LG */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .h1-padre {
    font-size: 26px;
  }

  .img-menu {
    position: absolute;
    width: 70px;
    height: 3em;
    left: 80%;
    top: 12px;
  }
}

/* XL */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .h1-padre {
    font-size: 26px;
  }

  .img-menu {
    position: absolute;
    width: 70px;
    height: 3em;
    left: 80%;
    top: 12px;
  }
}

/* XXL */
@media screen and (min-width: 1400px) {
  .h1-padre {
    font-size: 26px;
  }

  .img-menu {
    position: absolute;
    width: 70px;
    height: 3em;
    left: 80%;
    top: 12px;
  }
}


.contenedor__visualizar-container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



.form-visualizar-datos-developers{
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #a9d9f1 0,
    #add8f3 6.25%,
    #b2d6f5 12.5%,
    #b7d5f6 18.75%,
    #bdd3f7 25%,
    #c3d2f6 31.25%,
    #c9d0f6 37.5%,
    #cfcff4 43.75%,
    #d5cdf2 50%,
    #dbcbef 56.25%,
    #e0caec 62.5%,
    #e5c9e9 68.75%,
    #eac8e5 75%,
    #eec7e1 81.25%,
    #f2c6dc 87.5%,
    #f4c5d7 93.75%,
    #f7c5d3 100%
  );
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 6px;
  border-radius: 23px;
  height: 95%;
  padding: 22px;
  width: 97%;
  flex-direction: column;
}


/* 
Dialog Asignaciones */
.sectionAsigacion__container--table {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}
